<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="60">
    <loggers>
        <root level="WARN">
            <appender-ref ref="Console" />
        </root>
    </loggers>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %.10000msg%n" />
        </Console>
    </appenders>
</configuration>
